---
import asset from "../../static/cat.png?url";

console.log(asset);
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<!-- Just to test dev middleware, will break in dev build it will be bundled -->
		<link rel="stylesheet" href="/styles.css" />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<!-- Just to test dev middleware, will break in build since it will be bundled -->
		<img src={asset} alt="">
	</body>
</html>
